$def with(trayectorias_academicas,params,message)
<h3>
    <a href="/trayectorias_academicas">Información de trayectorias academicas</a>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group" style='display:none;'>
    <input type="hidden" name="id_trayectoria_academica" id="id_trayectoria_academica" value="$trayectorias_academicas.id_trayectoria_academica" readonly="readonly"/>
    </div>
    <div class="form-group" style='display:none;'>
    <label for="email">email</label>
    <input required id="email" type="text" class="form-control" name="email" size="30" value="$trayectorias_academicas.email" />
</div><div class="form-group">
    <label for="primaria_institucion">primaria institucion</label>
    <input required id="primaria_institucion" type="text" class="form-control" name="primaria_institucion" size="30" value="$trayectorias_academicas.primaria_institucion"/>
</div><div class="form-group">
    <label for="primaria_promedio">primaria promedio</label>
    <input required id="primaria_promedio" type="text" class="form-control" name="primaria_promedio" size="30" value="$trayectorias_academicas.primaria_promedio"/>
</div><div class="form-group">
    <label for="secundaria_institucion">secundaria institucion</label>
    <input required id="secundaria_institucion" type="text" class="form-control" name="secundaria_institucion" size="30" value="$trayectorias_academicas.secundaria_institucion"/>
</div><div class="form-group">
    <label for="secundadria_promedio">secundadria promedio</label>
    <input required id="secundadria_promedio" type="text" class="form-control" name="secundadria_promedio" size="30" value="$trayectorias_academicas.secundadria_promedio"/>
</div><div class="form-group">
    <label for="bachillerato_institucion">bachillerato institucion</label>
    <input required id="bachillerato_institucion" type="text" class="form-control" name="bachillerato_institucion" size="30" value="$trayectorias_academicas.bachillerato_institucion"/>
</div><div class="form-group">
    <label for="bachillerato_promedio">bachillerato promedio</label>
    <input required id="bachillerato_promedio" type="text" class="form-control" name="bachillerato_promedio" size="30" value="$trayectorias_academicas.bachillerato_promedio"/>
</div><div class="form-group">
    <label for="tsu_institucion">tsu institucion</label>
    <input required id="tsu_institucion" type="text" class="form-control" name="tsu_institucion" size="30" value="$trayectorias_academicas.tsu_institucion"/>
</div><div class="form-group">
    <label for="tsu_promedio">ingresa tu promedio de tsu</label>
    <input required id="tsu_promedio" type="text" class="form-control" name="tsu_promedio" size="30" value="$trayectorias_academicas.tsu_promedio"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio01">cuatrimestre promedio 01</label>
    <input required id="cuatrimestre_promedio01" type="text" class="form-control" name="cuatrimestre_promedio01" size="30" value="$trayectorias_academicas.cuatrimestre_promedio01"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio02">cuatrimestre promedio 02</label>
    <input required id="cuatrimestre_promedio02" type="text" class="form-control" name="cuatrimestre_promedio02" size="30" value="$trayectorias_academicas.cuatrimestre_promedio02"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio03">cuatrimestre promedio 03</label>
    <input required id="cuatrimestre_promedio03" type="text" class="form-control" name="cuatrimestre_promedio03" size="30" value="$trayectorias_academicas.cuatrimestre_promedio03"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio04">cuatrimestre promedio 04</label>
    <input required id="cuatrimestre_promedio04" type="text" class="form-control" name="cuatrimestre_promedio04" size="30" value="$trayectorias_academicas.cuatrimestre_promedio04"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio05">cuatrimestre promedio 05</label>
    <input required id="cuatrimestre_promedio05" type="text" class="form-control" name="cuatrimestre_promedio05" size="30" value="$trayectorias_academicas.cuatrimestre_promedio05"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio06">cuatrimestre promedio 06</label>
    <input required id="cuatrimestre_promedio06" type="text" class="form-control" name="cuatrimestre_promedio06" size="30" value="$trayectorias_academicas.cuatrimestre_promedio06"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio07">cuatrimestre promedio 07</label>
    <input required id="cuatrimestre_promedio07" type="text" class="form-control" name="cuatrimestre_promedio07" size="30" value="$trayectorias_academicas.cuatrimestre_promedio07"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio08">cuatrimestre promedio 08</label>
    <input required id="cuatrimestre_promedio08" type="text" class="form-control" name="cuatrimestre_promedio08" size="30" value="$trayectorias_academicas.cuatrimestre_promedio08"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio09">cuatrimestre promedio 09</label>
    <input required id="cuatrimestre_promedio09" type="text" class="form-control" name="cuatrimestre_promedio09" size="30" value="$trayectorias_academicas.cuatrimestre_promedio09"/>
</div><div class="form-group">
    <label for="cuatrimestre_promedio10">cuatrimestre promedio 10</label>
    <input required id="cuatrimestre_promedio10" type="text" class="form-control" name="cuatrimestre_promedio10" size="30" value="$trayectorias_academicas.cuatrimestre_promedio10"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
    </div>
</form>
<br>
<br>
<br>