$def with(id_trayectoria_academica,params,message)
$var user: $params['user']
$var privilege: $params['privilege']
$var picture: $params['picture']
<h3>
    <a href="/trayectorias_academicas">Mis trayectorias academicas</a>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th><li class='active'><a><img src="$params['picture']"  style="max-width:100px; margin-top: -7px;" class="img-circle" height="100px" width="103px"> </a></li> </th>
        <th>Editar</th>
    </thead>
    <tbody>
        <tr>
            <td><a></a>$params['user'] Edita tu trayectoria academica</td>
            <td><a href='/trayectorias_academicas/edit/$id_trayectoria_academica'><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>