$def with(trayectorias_academicas)
<h3>
    <a href="/trayectorias_academicas">trayectorias_academicas</a>
</h3>
email: $trayectorias_academicas.email <br>
primaria_institucion: $trayectorias_academicas.primaria_institucion <br>
primaria_promedio: $trayectorias_academicas.primaria_promedio <br>
secundaria_institucion: $trayectorias_academicas.secundaria_institucion <br>
secundadria_promedio: $trayectorias_academicas.secundadria_promedio <br>
bachillerato_institucion: $trayectorias_academicas.bachillerato_institucion <br>
bachillerato_promedio: $trayectorias_academicas.bachillerato_promedio <br>
tsu_institucion: $trayectorias_academicas.tsu_institucion <br>
tsu_promedio: $trayectorias_academicas.tsu_promedio <br>
cuatrimestre_promedio01: $trayectorias_academicas.cuatrimestre_promedio01 <br>
cuatrimestre_promedio02: $trayectorias_academicas.cuatrimestre_promedio02 <br>
cuatrimestre_promedio03: $trayectorias_academicas.cuatrimestre_promedio03 <br>
cuatrimestre_promedio04: $trayectorias_academicas.cuatrimestre_promedio04 <br>
cuatrimestre_promedio05: $trayectorias_academicas.cuatrimestre_promedio05 <br>
cuatrimestre_promedio06: $trayectorias_academicas.cuatrimestre_promedio06 <br>
cuatrimestre_promedio07: $trayectorias_academicas.cuatrimestre_promedio07 <br>
cuatrimestre_promedio08: $trayectorias_academicas.cuatrimestre_promedio08 <br>
cuatrimestre_promedio09: $trayectorias_academicas.cuatrimestre_promedio09 <br>
cuatrimestre_promedio10: $trayectorias_academicas.cuatrimestre_promedio10 <br>

<br>
<br>