$def with(observaciones_individuales)
<h3>
    <a href="/observaciones_individuales">observaciones_individuales</a>
</h3>
email: $observaciones_individuales.email <br>
user: $observaciones_individuales.user <br>
fecha_observaciones: $observaciones_individuales.fecha_observaciones <br>
observaciones: $observaciones_individuales.observaciones <br>
fecha_atencion: $observaciones_individuales.fecha_atencion <br>
acciones: $observaciones_individuales.acciones <br>
resultados: $observaciones_individuales.resultados <br>
semaforo: $observaciones_individuales.semaforo <br>

<br>
<br>