$def with(tutoria_especial)
<h3>
    <a href="/tutoria_especial">tutoria especial de tutoria</a>
</h3>
id_area_atencion: $tutoria_especial.id_area_atencion <br>
email: $tutoria_especial.email <br>
user: $tutoria_especial.user <br>
id_grupo: $tutoria_especial.id_grupo <br>
id_programa_educativo: $tutoria_especial.id_programa_educativo <br>
fecha: $tutoria_especial.fecha <br>
motivo_tutoria: $tutoria_especial.motivo_tutoria <br>
acciones: $tutoria_especial.acciones <br>
resolucion_tutoria: $tutoria_especial.resolucion_tutoria <br>
nota: $tutoria_especial.nota <br>

<br>
<br>