$def with(alumno,params)
$var user: $params['user']
$var privilege: $params['privilege']
$var privilege: $params['picture']
<h3>
    <a>Mis Datos personales</a>
</h3>
<p>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Perfil del usuario<li class='active'><a  href="/"><img src="$params['picture']"  style="max-width:100px; margin-top: -7px;" class="img-circle" height="100px" width="103px"> </a></li> </th>
        <th>Editar mis datos de perfil</th>
    </thead>
    <tbody>
        
        <tr>
            <td><a>$alumno Editar mis datos</a></td>
            <td><a href='/alumnos/edit/$alumno'><span class="glyphicon glyphicon-pencil"></span></a></td>
            
        </tr>
    </tbody>
</table>
<br>
<br>