$def with(alumnos)
<h3>
    <a href="/alumnos">alumnos</a>
</h3>
id_grupo: $alumnos.id_grupo <br>
fecha_alta: $alumnos.fecha_alta <br>
nombre: $alumnos.nombre <br>
ap_paterno: $alumnos.ap_paterno <br>
ap_materno: $alumnos.ap_materno <br>
fecha_nacimiento: $alumnos.fecha_nacimiento <br>
curp: $alumnos.curp <br>
cuatrimestre: $alumnos.cuatrimestre <br>
telefono_celular: $alumnos.telefono_celular <br>
telefono_casa: $alumnos.telefono_casa <br>
email_personal: $alumnos.email_personal <br>
calle: $alumnos.calle <br>
colonia: $alumnos.colonia <br>
cp: $alumnos.cp <br>
no_exterior: $alumnos.no_exterior <br>
no_interior: $alumnos.no_interior <br>
municipio: $alumnos.municipio <br>
referencias: $alumnos.referencias <br>
idioma_principal: $alumnos.idioma_principal <br>
segundo_idioma: $alumnos.segundo_idioma <br>

<br>
<br>