$def with(historiales_medicos)
<h3>
    <a href="/historiales_medicos">historiales_medicos</a>
</h3>
email: $historiales_medicos.email <br>
imss: $historiales_medicos.imss <br>
no_imss: $historiales_medicos.no_imss <br>
institucion_salud: $historiales_medicos.institucion_salud <br>
nombre_institucion_salud: $historiales_medicos.nombre_institucion_salud <br>
no_afiliacion_otra: $historiales_medicos.no_afiliacion_otra <br>
tipo_sangre: $historiales_medicos.tipo_sangre <br>
alergias: $historiales_medicos.alergias <br>
descripcion_alergias: $historiales_medicos.descripcion_alergias <br>
enfermedades: $historiales_medicos.enfermedades <br>
descripcion_enfermedad: $historiales_medicos.descripcion_enfermedad <br>
medicamentos: $historiales_medicos.medicamentos <br>
descripcion_medicamentos: $historiales_medicos.descripcion_medicamentos <br>

<br>
<br>