<h3>
    <a href="/area_atencion">area de atención</a>
</h3>
<form action="" method="post" enctype="multipart/form-data">

    <div class="form-group">
    <label for="area">area</label>
    <input required id="area" type="text" class="form-control" name="area" size="30"/>
</div><div class="form-group">
    <label for="descripcion">descripcion</label>
    <input required id="descripcion" type="text" class="form-control" name="descripcion" size="30"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-save"></span> Save</button>
    </div>
</form>
<br>
<br>