$def with(aspectos_personales)
<h3>
    <a href="/aspectos_personales">aspectos_personales</a>
</h3>
email: $aspectos_personales.email <br>
estado_civil: $aspectos_personales.estado_civil <br>
numero_hijos: $aspectos_personales.numero_hijos <br>
quien_los_cuida: $aspectos_personales.quien_los_cuida <br>
no_integrantes_familia: $aspectos_personales.no_integrantes_familia <br>
comunicacion_familiar: $aspectos_personales.comunicacion_familiar <br>
responsable: $aspectos_personales.responsable <br>
respetuosa: $aspectos_personales.respetuosa <br>
trabajo_equipo: $aspectos_personales.trabajo_equipo <br>

<br>
<br>