$def with(aspectos_economicos)
<h3>
    <a href="/aspectos_economicos">aspectos_economicos</a>
</h3>
email: $aspectos_economicos.email <br>
beca: $aspectos_economicos.beca <br>
nombre_beca: $aspectos_economicos.nombre_beca <br>
depende_economicamente: $aspectos_economicos.depende_economicamente <br>
tiene_computadora: $aspectos_economicos.tiene_computadora <br>
tiene_telefono: $aspectos_economicos.tiene_telefono <br>
trabaja: $aspectos_economicos.trabaja <br>
empresa: $aspectos_economicos.empresa <br>
jefe_inmediato: $aspectos_economicos.jefe_inmediato <br>
telefono_trabajo: $aspectos_economicos.telefono_trabajo <br>
email_trabajo: $aspectos_economicos.email_trabajo <br>
actividad: $aspectos_economicos.actividad <br>
jornada_laboral: $aspectos_economicos.jornada_laboral <br>
calle: $aspectos_economicos.calle <br>
colonia: $aspectos_economicos.colonia <br>
cp: $aspectos_economicos.cp <br>
no_exterior: $aspectos_economicos.no_exterior <br>
no_interior: $aspectos_economicos.no_interior <br>
municipio: $aspectos_economicos.municipio <br>
referencias: $aspectos_economicos.referencias <br>

<br>
<br>