$def with(params, message)
$var user: $params['user']
$var privilege: $params['privilege']
<br>
<br>

<center>
<p>Ingrese al sistema para poder utilizar sus funciones</p>
</center>

$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>


<center>
<p>¿Para qué sirve la tutoría académica?</p>
</center>

 
  <div class="content clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><p class="rtejustify" style="padding: 0px; margin: 0.5em 0px; color: rgb(57, 50, 44); font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif; line-height: 18px;">La Tutoría Académica está orientada a revitalizar la práctica de la docencia, brindando a los estudiantes atención personalizada o grupal durante su proceso formativo, con el propósito de detectar de manera oportuna y clara los factores de riesgo que pueden afectar el desempeño académico de los estudiantes.</p>
<p class="rtejustify" style="padding: 0px; margin: 0.5em 0px; color: rgb(57, 50, 44); font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif; line-height: 18px;"> </p>
<ul class="squaredList" style="padding-right: 0px; padding-left: 2em; margin: 0.5em 0px; color: rgb(57, 50, 44); font-family: 'Lucida Grande', Geneva, Arial, Verdana, sans-serif; line-height: 18px;">
	<li class="rtejustify" style="padding: 0px 0px 0px 20px; margin: 1em; overflow: hidden; list-style: none; background: url(http://www.cuaad.udg.mx/themes/drudg/images/li_dot.png) 0% 8px no-repeat scroll transparent;">
		<span style="padding: 0px; margin: 0px;"> </span></li>
	<li class="rtejustify" style="padding: 0px 0px 0px 20px; margin: 1em; overflow: hidden; list-style: none; background: url(http://www.cuaad.udg.mx/themes/drudg/images/li_dot.png) 0% 8px no-repeat scroll transparent;">
		<span style="padding: 0px; margin: 0px;"></span></li>
	<li class="rtejustify" style="padding: 0px 0px 0px 20px; margin: 1em; overflow: hidden; list-style: none; background: url(http://www.cuaad.udg.mx/themes/drudg/images/li_dot.png) 0% 8px no-repeat scroll transparent;">
		<span style="padding: 0px; margin: 0px;"></span></li>
</ul>
</div></div></div>  </div>



<br>
<br>