$def with(padres_tutores)
<h3>
    <a href="/padres_tutores">padres_tutores</a>
</h3>
email: $padres_tutores.email <br>
nombre: $padres_tutores.nombre <br>
ap_paterno: $padres_tutores.ap_paterno <br>
ap_materno: $padres_tutores.ap_materno <br>
parentesco: $padres_tutores.parentesco <br>
telefono_celular: $padres_tutores.telefono_celular <br>
telefono_casa: $padres_tutores.telefono_casa <br>
telefono_trabajo: $padres_tutores.telefono_trabajo <br>
email_tutor: $padres_tutores.email_tutor <br>
calle: $padres_tutores.calle <br>
colonia: $padres_tutores.colonia <br>
cp: $padres_tutores.cp <br>
no_exterior: $padres_tutores.no_exterior <br>
no_interior: $padres_tutores.no_interior <br>
municipio: $padres_tutores.municipio <br>
referencias: $padres_tutores.referencias <br>

<br>
<br>